<% if current_user %>
<div class="page-header"><h1>Add Place</h1></div>
<%if @user=="Balaji"%>
<%= @user%>
<%end%>
<%= @all_data%>
<%= form_tag pages_add_place_path, method: :add_place do |f| %>

  <div>
    <b>Day Charge (in INR):</b>
    <%= text_field_tag(:daycharge)%>
  </div>
<div class="form-group">
      <b>  Night Charge (in INR):</b>
    <%= text_field_tag(:nightcharge) %>
  </div>
  <div class="form-group">
     <b>  Place Name : </b>
    <%= text_field_tag(:placename)%>
  </div>
 
  <%= submit_tag 'Add', class: 'btn btn-primary btn-lg' %>
<% end %>

<% else %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Sign up to get started.</p>
      <p>
        <%= link_to new_user_path, class: 'btn btn-primary btn-lg' do %>
          Sign Up &raquo;
        <% end %>
      </p>
    </div>
  </div>
<% end %>