<h5>
<%= Place.where(:days=> '1', :nights=> '1', :placename=> 'karad').select("price")%>

<br/>
<%= Place.pluck(:placename)%>
<br/>
<%= Place.pluck(:id)%>
<br/>
<%= Place.pluck(:price)%>



<br/><br/>
<caption align="top"><b>Result for Packages</b></caption>
</h5>
<br/>
<table class="table table-bordered">

   <!-- On rows -->
   <tr>
<th class="">Sr. No.</th>
<th class="">Days</th>
<th class="">Nights</th>
<th class="">Place</th>
<th class="">Package</th>
</tr>
<!-- On cells (`td` or `th`) -->
<%row=1%>
<%@days.to_i.times do %>
<tr>
  <td class=""><%= row%></td>
  <td class=""><%= @days%></td>
  <td class=""><%= @nights%></td>
  <td class=""><%= @place%></td>
  <td class="">Rs. <%= @total_price%></td>
</tr>
<%row+=1%>
<%end%>
</table>



